<div class="container">
    <div class="row mt-3">
      <div class="col-7">
        <%= link_to concept_path(anchor: 'difficulty') do %>
          <p>Difficulté de montée</p>
        <% end %>
      </div>
      <div class="col-5">
        <p><%= @itinerary.ascent_difficulty %></p>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="<%="width: #{@ascent_grade.to_i * 100 / 5}%"%>" aria-valuenow="<%=@ascent_grade%>" aria-valuemin="0" aria-valuemax="5"><%=@ascent_grade%>/5</div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
      <div class="col-7">
        <%= link_to concept_path(anchor: 'difficulty') do %>
          <p>Difficulté en ski</p>
        <% end %>
      </div>
      <div class="col-5">
        <p><%= @itinerary.ski_difficulty %></p>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="<%="width: #{@itinerary.ski_difficulty.to_f * 100 / 15}%"%>" aria-valuenow="<%=@itinerary.ski_difficulty%>" aria-valuemin="0" aria-valuemax="15"><%=@itinerary.ski_difficulty%>/15</div>
      </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
      <div class="col-7">
        <%= link_to concept_path(anchor: 'difficulty') do %>
          <p>Exposition</p>
        <% end %>
      </div>
      <div class="col-5">
        <p><%= @itinerary.terrain_difficulty %></p>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="<%="width: #{@terrain_grade.to_i * 100 / 4}%"%>" aria-valuenow="<%=@terrain_grade%>" aria-valuemin="0" aria-valuemax="4"><%=@terrain_grade%>/4</div>
      </div>
    </div>
</div>



