<div class="container">

    <h2 class="pb-3 mt-3">Ajouter un itinéraire</h2>

    <div class="form-inputs form-color">
      <%= simple_form_for @itinerary do |f| %>
        <%= f.input :name,
                    required: true,
                    placeholder: "Nom du sommet, vallée, col",
                    label: 'Nom'%>
        <%= f.input :mountain, collection: Mountain.all,
                    label: "Massif"%>
        <%= f.input :duration,
                     placeholder: "ex: 4h",
                    label: 'Durée'%>
        <%= f.input :ascent_difficulty,
                    collection: Itinerary::ASCENTDIFFICULTIES,
                    label: "Difficulté ascension"%>
        <%= f.input :ski_difficulty,
                    collection: Itinerary::SKIDIFFICULTIES,
                    label: "Difficulté ski"%>
        <%= f.input :terrain_difficulty,
                    collection: Itinerary::TERRAINDIFFICULTIES,
                    label: "Exposition"%>
        <%= f.input :description,
                    placeholder: "Description de la courses, spécificités,...",
                    required: true,
                    label: 'Description'%>
        <%= f.input :photos, as: :file, input_html: { multiple: true },
                    label: "Photos" %>
        <label>Coordonnées au format GPX</label><br>
        <%= f.file_field :gpx_coordinates,
                    label: "Coordonnées GPX" %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Valider", class: "btn btn-primary btn-block my-3 " %>
    </div>

    <% end %>
</div>
