

<h1><%= @itinerary.name %></h1>


  <%= @itinerary.name %>
  <%= @itinerary.description %>
  <%= @itinerary.duration %>
  <%= @itinerary.elevation %>
  <%= @itinerary.departure %>
  <%= @itinerary.arrival %>
  <%= @itinerary.ascent_difficulty %>
  <%= @itinerary.ski_difficulty %>
  <%= @itinerary.mountain.name %>

   <%= link_to "Back to all itineraries", itineraries_path %>


<div
  id="map"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div id="hidden" data-waypoints = "<%= @array %>" ></div>
