<h1><%= @itinerary.name %></h1>
  <%= link_to "Back to all itinerariess", itineraries_path %>
   
  <%= itinerary.name %>
  <%= itinerary.description %>
  <%= itinerary.duration %>
  <%= itinerary.elevation %>
  <%= itinerary.departure %>
  <%= itinerary.arrival %>
  <%= itinerary.ascent_difficulty %>
  <%= itinerary.ski_difficulty %>

  

   