

<h1><%= @itinerary.name %></h1>
 
   
  <%= @itinerary.name %>
  <%= @itinerary.description %>
  <%= @itinerary.duration %>
  <%= @itinerary.elevation %>
  <%= @itinerary.departure %>
  <%= @itinerary.arrival %>
  <%= @itinerary.ascent_difficulty %>
  <%= @itinerary.ski_difficulty %>

   <%= link_to "Back to all itineraries", itineraries_path %>

  
