<div id="carouselExampleControls" class="carousel slide" data-touch="false" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div
    class="carousel-item active map"
    id="map"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    <nav id="menu" class="d-flex align-items-center">
      <label class="switch-wrap">
        <input type="checkbox" id="evolRiskCheck" />
        <div class="switch"></div>
      </label>
      <p class="p-0 m-0 align-content-center">Après-midi</p>
    </nav>
    </div>

    <% @itinerary.photos.each do |photo| %>
      <div class="carousel-item">
        <%= cl_image_tag photo.key, class: "map"%>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <h3 class="text-center mt-3 mb-5"><%= @itinerary.name %></h3>
  <div class="d-flex align-items-center mb-3 mt-3" style="height: 40px;">
    <h6>Niveau de risque</h6>
      <div class="ml-2" style="position: relative; background-color: <%= @bera_color %>; border-radius: 50%; width: 40px; height: 40px">
      <p class="text-center" style="font-size: 30px; position: absolute;left: 12px; top: -5px"><%= @bera.risk_max %></p>
     </div>
  </div>
  <p><strong> Départs spontanés : </strong><%= @bera.accidentel_text %> <br><strong> Déclenchement skieurs : </strong><%= @bera.naturel_text %></p></br>
</div>


<div class="container">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-itinerary_data" role="tab" aria-controls="nav-itinerary_data" aria-selected="true">Caractéristiques</a>
    <a class="nav-item nav-link" id="nav-level-tab" data-toggle="tab" href="#nav-level" role="tab" aria-controls="nav-level" aria-selected="false">Niveau de difficulté</a>
    <a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="false">Description</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-itinerary_data" role="tabpanel" aria-labelledby="nav-itinerary_data-tab"> <%= render 'itinerary_data', itinerary: @itinerary %> </div>
  <div class="tab-pane fade" id="nav-level" role="tabpanel" aria-labelledby="nav-level-tab"><%= render 'level', itinerary: @itinerary %> </div>
  <div class="tab-pane fade" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab"><%= render 'description', itinerary: @itinerary %></div>
</div>
</div>

<div class="d-flex justify-content-around mt-3" style="width: 300px; margin: 0 auto">
  <div class="d-flex flex-column">
    <i class="fas fa-plus" style="display: inline-block; margin: 0 auto"></i>
    <p>Favoris</p>
  </div>
  <div class="d-flex flex-column">
    <i class="fas fa-share-alt" style="display: inline-block; margin: 0 auto"></i>
    <p>Partager</p>
  </div>
  <div class="d-flex flex-column">
    <i class="fas fa-cloud-download-alt" style="display: inline-block; margin: 0 auto"></i>
    <p>Télécharger</p>
  </div>
</div>

<%= link_to "Retour aux itinéraires", itineraries_path, class: "btn btn-primary w-100 mb-2" %>

</div>

<div id="hidden"
  data-waypoints="<%= @waypoints %>"
  data-evolrisk="<%= @evolrisk %>"
  data-altitude="<%= true if @bera.altitude %>"
  data-altlng="<%= @alt_lng if @bera.altitude%>"
  data-altlat="<%= @alt_lat if @bera.altitude %>"
  data-infoaltitude="<%= @bera.altitude if @bera.altitude %>"
  data-risk1="<%= @bera.risk1 if @bera.altitude %>"
  data-evolrisk1="<%= @bera.evolrisk1 if @bera.altitude %>"
  data-risk2="<%= @bera.risk2 if @bera.altitude %>"
  data-evolrisk2="<%= @bera.evolrisk2 if @bera.altitude %>"></div>
