<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= 'naked-navbar' if @naked_navbar %>">
  <%= link_to home_path, class: "navbar-brand" do %>
    <div class="">
      <h3>Safe Powder Ride</h3>
    </div>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <li class="nav-item">
            <%= link_to new_itinerary_path, class: "navbar-link" do %>
              <div class="d-flex align-items-center justify-content-end"><i class="fas fa-plus mr-2"></i><p class="mb-0">Ajouter un itinéraire</p></div>
            <% end %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to itineraries_path, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-search mr-2"></i><p class="mb-0">Chercher un itinéraire</p></div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to concept_path, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-info mr-2"></i><p class="mb-0">En savoir plus</p></div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to favorites_path, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-user mr-2"></i><p class="mb-0">Mon Compte</p></div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-sign-out-alt mr-2"></i><p class="mb-0">Se déconnecter</p></div>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item align-content-center">
          <%= link_to new_user_session_path, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-user mr-2"></i><p class="mb-0">Se connecter</p></div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to concept_path, class: "navbar-link" do %>
            <div class="d-flex align-items-center justify-content-end"><i class="fas fa-info mr-2"></i><p class="mb-0">En savoir plus</p></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
